	<header>
			<h1><center>Texas Race finder</center></h1><br />
			<p>
			Your one stop shop to find everything you need for running, racing, and living healthy in Texas.  Build communities,  talk to experts about your upcoming events, and share your goals with others.  
			</p><br />
			<p>
			Rate races you have participated in, and follow others to find the best races for you.
			</p>
	</header>