	<header>
			<h1><center>Welcome to Texas Race finder</center></h1><br />
			<p>
			Your one stop shop to find everything you need for running, racing, and living healthy in Texas.  Build communities and talk to experts about your upcoming events, share your goals with others.  Rate races you have participated in **Add more here and reword**
			</p>
	</header>